.absol-btn {
	outline: none;
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	color: var(--primary-text);
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol" !important;
	font-weight: 500;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.2s linear;
	animation: fadeIn 0.2s linear;
}

.absol-btn:hover {
	border: 1px solid var(--primary-text) !important;
}

.absol-btn svg {
	color: var(--primary-text);
	width: 24px;
	height: 24px;
	animation: zoomIn 0.5s cubic-bezier(0.79, 0, 0.37, 2);
}
